# 1. Ignore everything in the project's root directory.
/*

# 2. BUT, make an exception for the .gitignore file itself.
!/.gitignore

# 3. AND, make an exception for the 'client' directory.
# This allows Git to see the folder and everything inside it.
!/client