# Ignore everything
*

# Un-ignore the parent directory 'client' so Git can see inside it
!/client/

# Un-ignore the 'src' folder within 'client'
!/client/src/

# Also, don't ignore this .gitignore file itself
!/.gitignore